@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Merriweather+Sans:800);

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

@font-face {
	font-family: 'Blokk';
	src: url('../fonts/blokk/BLOKKRegular.eot');
	src: url('../fonts/blokk/BLOKKRegular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/blokk/BLOKKRegular.woff') format('woff'),
		 url('../fonts/blokk/BLOKKRegular.svg#BLOKKRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	position: relative;
	background: #67c2d4;
	color: #faf1e0;
	font-size: 100%;
	line-height: 1.25;
	font-weight: 300;
	font-family: 'Lato', Arial, sans-serif;
}

p{
	color:#444;
	font-weight: bold;
}
.container {
	background: #67c2d4;
}

a, button {
	color: #553445;
	text-decoration: none;
	outline: none;
	font-size: 1.25em;
}

a:hover, a:focus {
	color: #e75854;
}

.codrops-header, .codrops-footer {
	margin: 0px;
	padding: 10px;
	text-align: center;
}

.codrops-header h1, .codrops-footer h1 {
	font-weight: 800;
	font-size: 3em;
	font-family: "Merriweather Sans", sans-serif;
}

.codrops-header p, .codrops-footer p {
	padding: 0.35em 0 0.35em;
	margin: 0;
	font-size: 1.25em;
	opacity: 0.7;
}

section {
	padding: 0em;
	text-align: justify;
	max-width: 800px;
	margin: 0 auto;
	clear: both;
}

section p {
	font-size: 1.5em;
	line-height: 1.75;
}

section > p:first-child {
	text-align: center;
}

section.related {
	text-align: center;
}

@media screen and (max-width: 770px) {
	.mockup-left {
		float: none;
		margin: 0 auto 20px;
	}

	.mockup-right {
		text-align: center;
	}

	.joiner {
		display: block;
	}
}

@media screen and (max-width: 400px) {
	.mockup-content > span:nth-last-child(2) {
		width: calc(100% - 210px);
	}
}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}