@font-face {
  font-family: vector;
  src: url('../fonts/vector.ttf');
}

body {
  margin:0px 0px; 
  padding:0px;
  height:100%;
  text-align:center;
  background: #d46a6a;
}

h1,h2,h3,h4,h5,h6,p{
  color: #faa;
  font: ;
}

#open-menu-button {
  position:absolute;
  top: 50%;
  left: 0px;
  margin: 0px;
  padding: 0px;
  border: 1px;
}

#container{
  background: #500;
  height:100%;
  width:1000px;
}

#start, #mid{
  border:2px solid #fff;
  border-top: 0px;
  width:1000px;
  background: #500;
  margin:auto;
  height: 100%;
}

#subheading{
  text-align: center;
}

#ending{
  margin:auto;
  padding: 10px 0px 10px 15px;
  width:900px;
  background:#500;
  border: 2px solid #eee;
  border-top: 0px;
  text-align: left;
}